@import "../index.scss";

.home {
  padding: 4rem 8rem;
  @media screen and (max-width: 1000px) {
    padding: 2rem 2rem;
  }
  &__text {
    &__name {
      font-family: foundersGroteskL;
      font-size: 200px;
      line-height: 220px;
      text-transform: uppercase;
      @media screen and (max-width: 1000px) {
        font-size: 150px;
        line-height: 150px;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
    &__titles {
      margin-top: 2rem;
      p {
        font-family: helveticaNeue;
        font-size: 16px;
        margin-top: 0.2rem;
      }
    }
  }
}
